body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /*no se como hacer que el fondo de los laterales sea del mismo color que en la imagen*/
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 0 30%;
    align-items: center;
}

.top-section {
    display: flex;
    background-color: #1F2937;
    padding: 5% 30% 5% 30%;
}

a {
    text-decoration: none;

}

.links {
    display: flex;
    gap: 20px;
}

.button {
    background-color: #3882F6;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}

.button:hover  {
    background-color: #609bfa;
}

.left-panel {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 50%;
    padding-right: 20px;
}

.right-panel {
    display: flex;
    flex: 1;
    background-color: white;
    justify-content: center;
    align-items: center;
    background-color: rgb(162, 162, 170);
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px 30%;
}

.blue-border {
    border: 3px solid  #3882F6;
    border-radius: 8px;
    aspect-ratio: 1/1;
    width: 100%;
}

.boxes {

    display: flex;
    justify-content: center;
    gap: 40px;
    /*Esto no esta centrandose por algun motivo*/
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 4% 30%;
    background-color: #E5E7EB;
}

.god-name {
    display: flex;
    justify-content: end;
    padding: 0 80px;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}

.god-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 10;
    color: #1F2937;
}

.bottom-section {
    display: flex;
    justify-content: center;
    padding: 0 30%;
}

.blue-banner {
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 100px;
    margin-top: 80px;
    border-radius: 8px;
    padding: 1% 60px;
}

.white-border {
    border: 1px solid  #E5E7EB;
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}

